body{
  background: #000000;
  color: #e100ff;
  font-family: 'Segoe UI';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #000000;
  color: #ff00f7;
  font-size: 120%;
  border: none;
}

.Message{
  color: #ff0000;
}

#Main{
  background: #000000;
  border-radius: 1%;
  padding-left: 1%;
}

#Title{
  font-size: 300%;
}
